@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Zilla+Slab:wght@500&display=swap");
//font-family: 'Zilla Slab', serif;
//font-family: 'Open Sans', sans-serif;

//https://coolors.co/386641-6a994e-a7c957-f2e8cf-bc4749
$page-color: #f2e8cf;
$field-color: #a7c957;
$snake-color: #6a994e;
$head-color: #386641;
$point-color: #bc4749;
$check-size: 20px;

body {
    font-family: "Open Sans", sans-serif;
    background: $page-color;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Zilla Slab", serif;
}

.center {
    width: fit-content;
    margin: 5px auto;
}

#snek {
    margin-top: 30px;
}

#score {
    display: flex;
    justify-content: space-between;
    h3 {
        margin: 5px 0;
    }
}

.row {
    height: $check-size;
    width: fit-content;
    background: $field-color;
}

input[type="checkbox"].field {
    background: transparent;
    width: $check-size;
    height: $check-size;
    margin: 0;
    cursor: pointer;
}

input[type="checkbox"].colored {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: none;
    //border: 1px solid $field-color;
}

input[type="checkbox"]#styling {
    appearance: checkbox;
    width: 15px;
    height: 15px;
    vertical-align: bottom;
    & + label {
        text-align: center;
    }
}

input[type="checkbox"].snakebody:checked {
    background: $snake-color;
}

input[type="checkbox"].snakehead:checked {
    background: $head-color;
}

input[type="checkbox"].point {
    background: $point-color;
    border-radius: 50%;
    transition: 0.4s ease all;
}

.options-button {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
    margin: 0;
    font-size: 20px;
    text-decoration: none;
    color: gray;

    &#options-close {
        font-size: 30px;
    }

    &#options-open {
        top: 20px;
        right: 20px;
    }
}

#options {
    background: $field-color;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 10px;
    overflow-x: hidden;
    padding: 35px 0 8px 0;
    transition: 0.5s;

    .option-title {
        margin: 10px;
    }

    table {
        margin: 20px;
        width: 100%;
    }

    input[type="radio"] {
        width: 50%;
        margin: 0 10px;
        border: none;
    }
}

.keybind {
    width: fit-content;
    min-width: 27px;
    padding: 10px;
    margin: 0;
    right: 0;
    background: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    appearance: none;

    &:hover {
        background: whitesmoke;
    }
}
