@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Zilla+Slab:wght@500&family=B612+Mono&display=swap");
html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2e8cf;
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Zilla Slab", serif;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 1.5em;
  }
}

#swipable {
  width: calc(100% - 20px);
  height: 100%;
  margin: 0 10px;
}

.center {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px auto;
}

#snek {
  margin-top: 30px;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stats h3, .stats h4, .stats h5 {
  margin: 5px 0;
}

.number {
  font-family: 'B612 Mono', monospace;
}

.row {
  height: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #a7c957;
}

input[type="checkbox"].field {
  background-color: transparent;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}

input[type="checkbox"].colored {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
}

input[type="checkbox"]#styling {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
  width: 15px;
  height: 15px;
  vertical-align: bottom;
}

input[type="checkbox"]#styling + label {
  text-align: center;
}

input[type="checkbox"].snakehead:checked {
  background-color: #386641;
}

input[type="checkbox"].snakebody:checked {
  background-color: #6a994e;
}

input[type="checkbox"].point {
  background-color: #bc4749;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.options-button {
  margin: 0;
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

.options-button#options-close {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 10px;
}

.options-button#options-open {
  font-size: 20px;
  top: 20px;
  right: 20px;
}

@media screen and (min-width: 650px) {
  #options-open::before {
    content: "Options ";
  }
}

@media screen and (min-width: 500px) {
  #options-open {
    position: absolute;
  }
}

#options {
  background-color: #a7c957;
  position: fixed;
  z-index: 1;
  top: 10px;
  right: 10px;
  padding: 35px 5px 8px 5px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#options .option-title {
  margin: 10px 10px 0 10px;
}

#options table {
  margin: 20px;
  width: 100%;
}

#options input[type="checkbox"] {
  margin: 20px 5px 20px 20px;
}

.keybind {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 27px;
  padding: 10px;
  margin: 0;
  right: 0;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.keybind:hover {
  background-color: whitesmoke;
}
/*# sourceMappingURL=style.css.map */
