@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Zilla+Slab:wght@500&family=B612+Mono&display=swap");
//font-family: 'Zilla Slab', serif;
//font-family: 'Open Sans', sans-serif;

//https://coolors.co/386641-6a994e-a7c957-f2e8cf-bc4749
$page-color: #f2e8cf;
$field-color: #a7c957;
$snake-color: #6a994e;
$head-color: #386641;
$point-color: #bc4749;
$check-size: 20px;

html {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    background: $page-color;
    margin: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Zilla Slab", serif;
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 1.5em;
    }
}


#swipable {
    width: calc(100% - 20px);
    height: 100%;
    margin: 0 10px;
}

.center {
    width: fit-content;
    margin: 5px auto;
}

#snek {
    margin-top: 30px;
}

.stats {
    display: flex;
    justify-content: space-between;

    h3, h4, h5 {
        margin: 5px 0;
    }
}

.number {
    font-family: 'B612 Mono', monospace;
}

.row {
    height: $check-size;
    width: fit-content;
    background: $field-color;
}

input[type="checkbox"].field {
    background: transparent;
    width: $check-size;
    height: $check-size;
    margin: 0;
    cursor: pointer;
}

input[type="checkbox"].colored {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
}

input[type="checkbox"]#styling {
    appearance: checkbox;
    width: 15px;
    height: 15px;
    vertical-align: bottom;

    & + label {
        text-align: center;
    }
}

input[type="checkbox"].snakehead:checked {
    background-color: $head-color;
}

input[type="checkbox"].snakebody:checked {
    background-color: $snake-color;
}

input[type="checkbox"].point {
    background-color: $point-color;
    border-radius: 50%;
    transition: 0.4s;
}

.options-button {
    margin: 0;
    text-decoration: none;
    color: gray;
    cursor: pointer;

    &#options-close {
        font-size: 30px;
        position: absolute;
        top: 0;
        right: 10px;
    }

    &#options-open {
        font-size: 20px;
        top: 20px;
        right: 20px;
    }
}

@media screen and (min-width: 650px) {
    #options-open::before {
        content: "Options "
    }
}

@media screen and (min-width: 500px) {
    #options-open {
        position: absolute;
    }
}

#options {
    background-color: $field-color;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 10px;
    padding: 35px 5px 8px 5px;
    overflow: hidden;
    transition: 0.5s;

    .option-title {
        margin: 10px 10px 0 10px;
    }

    table {
        margin: 20px;
        width: 100%;
    }

    input[type="checkbox"] {
        margin: 20px 5px 20px 20px;
    }
}

.keybind {
    width: fit-content;
    min-width: 27px;
    padding: 10px;
    margin: 0;
    right: 0;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    appearance: none;

    &:hover {
        background-color: whitesmoke;
    }
}
